<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.ExpertGroupDao">
    <insert id="addExpertGroup" parameterType="com.thesis.entity.ExpertGroup" useGeneratedKeys="true" keyProperty="id">
        insert into tb_expert_group(name, teacher_id) values(#{name}, #{teacherId})
    </insert>
    <select id="getExpertGroupById" resultType="com.thesis.entity.ExpertGroup">
        select * from tb_expert_group where id=#{departmentId};
    </select>
    <delete id="deleteExpertGroupById">
        delete from tb_expert_group where id=#{departmentId}
    </delete>
    <update id="updateExpertGroup" parameterType="com.thesis.entity.ExpertGroup">
        update tb_expert_group set name=#{name}, teacher_id=#{teacherId}
    </update>
    <select id="pageQuery" resultType="com.thesis.entity.ExpertGroup">
        SELECT * FROM tb_department
        <bind name="offset" value="(query.pn-1)*query.ps"></bind>
        <where>
            <if test="expertGroupForm.name != null and expertGroupForm.name != ''">
                AND name LIKE CONCAT ('%',#{expertGroupForm.name},'%')
            </if>
            <if test="expertGroupForm.teacherId != null and expertGroupForm.teacherId != ''">
                AND teacher_id = #{expertGroupForm.teacherId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{offset},#{query.ps}
    </select>
    <select id="pageQueryCount" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_expert_group
        <where>
            <if test="expertGroupForm.name != null and expertGroupForm.name != ''">
                AND name LIKE CONCAT ('%',#{expertGroupForm.name},'%')
            </if>
            <if test="expertGroupForm.teacherId != null and expertGroupForm.teacherId != ''">
                AND teacher_id = #{expertGroupForm.teacherId}
            </if>
        </where>
    </select>
    <select id="getExpertGroupByName" resultType="com.thesis.entity.ExpertGroup">
        select  * from tb_expert_group where name=#{expertGroupName}
    </select>
</mapper>