<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.GradeDao">
    <!--新增年级-->
    <insert id="add" parameterType="com.thesis.entity.Grade" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_grade(name) VALUES (#{name})
    </insert>
    <!--通过年级id查询年级信息-->
    <select id="get" resultType="com.thesis.entity.Grade">
        SELECT * FROM tb_grade WHERE id=#{gradeId}
    </select>
<!--    &lt;!&ndash;删除年级&ndash;&gt;-->
<!--    <delete id="deleteGradeById">-->
<!--        DELETE FROM tb_grade WHERE id=#{gradeId}-->
<!--    </delete>-->
<!--    &lt;!&ndash;更新年级&ndash;&gt;-->
<!--    <update id="updateGrade" parameterType="com.thesis.entity.Grade">-->
<!--        UPDATE tb_grade SET name=#{name} where id=#{id}-->
<!--    </update>-->
<!--    &lt;!&ndash;分页查询&ndash;&gt;-->
<!--    <select id="pageQuery" resultType="com.thesis.entity.Grade">-->
<!--        SELECT * FROM tb_grade-->
<!--        <bind name="offset" value="(query.pn-1)*query.ps"></bind>-->
<!--        <where>-->
<!--            <if test="gradeForm.name != null and gradeForm.name != ''">-->
<!--                AND name LIKE CONCAT ('%',#{gradeForm.name},'%')-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY id DESC-->
<!--        LIMIT #{offset},#{query.ps}-->
<!--    </select>-->
<!--    &lt;!&ndash;查询满足条件的总数&ndash;&gt;-->
<!--    <select id="pageQueryCount" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*) FROM tb_grade-->
<!--        <bind name="offset" value="(query.pn-1)*query.ps"></bind>-->
<!--        <where>-->
<!--            <if test="gradeForm.name != null and gradeForm.name != ''">-->
<!--                AND name LIKE CONCAT ('%',#{gradeForm.name},'%')-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
    <!--通过名称查询年级信息-->
    <select id="getByName" resultType="com.thesis.entity.Grade">
        SELECT * FROM tb_grade WHERE name=#{gradeName}
    </select>
    <select id="getAll" resultType="com.thesis.entity.Grade">
        select * from tb_grade order by id desc
    </select>
</mapper>