<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.TaskResultDao">
    <insert id="add" parameterType="com.thesis.entity.TaskResult" useGeneratedKeys="true" keyProperty="id">
        insert into tb_task_result(
            title, description, submit_time, is_audit_passed, audit_opinion,
            is_result_submit, result, repeat_rate, annex_id, student_id, teacher_id, task_id
        )values(
            #{title}, #{description}, #{submitTime}, #{isAuditPassed}, #{auditOpinion},
            #{isResultSubmit}, #{result}, #{repeatRate}, #{annexId}, #{studentId}, #{teacherId}, #{taskId}
        )
    </insert>
    <select id="get" resultType="com.thesis.entity.TaskResult">
        select * from tb_task_result where id=#{taskResultId}
    </select>
    <delete id="delete">
        delete from tb_task_result where id=#{taskResultId}
    </delete>
    <update id="update" parameterType="com.thesis.entity.TaskResult">
        update tb_task_result set is_audit_passed=#{isAuditPassed}, audit_opinion=#{auditOpinion} where id=#{id}
    </update>
    <select id="pageQuery" resultType="com.thesis.entity.TaskResult">
        <!--SELECT * FROM tb_task_result
        <bind name="offset" value="(query.pn-1)*query.ps"></bind>
        <where>
            <if test="taskResultForm.taskId != null">
                AND task_id LIKE CONCAT ('%',#{taskResultForm.taskId},'%')
            </if>
            <if test="taskResultForm.result != null">
                AND result = #{taskResultForm.result}
            </if>
            <if test="taskResultForm.number != null and taskResultForm.number != ''">
                AND tb_student.number = #{taskResultForm.number}
            </if>
            <if test="taskResultForm.name != null and taskResultForm.name != ''">
                AND tb_student.name = #{taskResultForm.name}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{offset},#{query.ps}-->
        select tb_task_result.* from tb_task_result
        <if test="query.pn != null and query.ps != null">
            <bind name="offset" value="(query.pn-1)*query.ps"></bind>
        </if>
        <where>
            <if test="taskResultForm.taskId != null">
                AND tb_task_result.task_id = #{taskResultForm.taskId}
            </if>
            <if test="taskResultForm.result != null">
                AND tb_task_result.result = #{taskResultForm.result}
            </if>
            AND tb_task_result.student_id in (
                select tb_student.id from tb_student
                <where>
                    <if test="taskResultForm.number != null and taskResultForm.number != ''">
                        AND tb_student.number LIKE CONCAT ('%',#{taskResultForm.number},'%')
                    </if>
                    <if test="taskResultForm.name != null and taskResultForm.name != ''">
                        AND tb_student.name LIKE CONCAT ('%',#{taskResultForm.name},'%')
                    </if>
                </where>
            )
        </where>
        ORDER BY id DESC
        <if test="offset != null and query.ps != null">
            LIMIT #{offset},#{query.ps}
        </if>
    </select>
    <select id="pageQueryCount" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_task_result
        <where>
            <if test="taskResultForm.taskId != null">
                AND tb_task_result.task_id = #{taskResultForm.taskId}
            </if>
            <if test="taskResultForm.result != null">
                AND tb_task_result.result = #{taskResultForm.result}
            </if>
            AND tb_task_result.student_id in (
            select tb_student.id from tb_student
            <where>
                <if test="taskResultForm.number != null and taskResultForm.number != ''">
                    AND tb_student.number LIKE CONCAT ('%',#{taskResultForm.number},'%')
                </if>
                <if test="taskResultForm.name != null and taskResultForm.name != ''">
                    AND tb_student.name LIKE CONCAT ('%',#{taskResultForm.name},'%')
                </if>
            </where>
            )
        </where>
    </select>
    <select id="getByTitle" resultType="com.thesis.entity.TaskResult">
        select * from tb_task_result where title=#{taskResultTitle}
    </select>
    <select id="getBySIdAndTId" resultType="com.thesis.entity.TaskResult">
        select * from tb_task_result where student_id=#{studentId} and task_id=#{taskId};
    </select>
    <update id="updateAnnexIdBySIdAndTId">
        update tb_task_result set annex_id=#{annexId} where student_id=#{studentId} and task_id=#{tasskId}
    </update>
    <select id="getByTaskId" resultType="com.thesis.entity.TaskResult">
        select * from tb_task_result where task_id=#{taskId};
    </select>
    <update id="updateResult">
        update tb_task_result set result=#{result} where id=#{taskResultId}
    </update>
    <select id="getListByIds" parameterType="java.util.List" resultType="com.thesis.entity.TaskResult">
        select * from tb_task_result
        where
        id in
        <foreach collection="taskResultIds" item="taskResultId" open="(" close=")" separator=",">
            #{taskResultId}
        </foreach>;
    </select>
</mapper>