<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.dao.TeachingClassDao">
    <!--新增班级-->
    <insert id="add" parameterType="com.thesis.entity.TeachingClass" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_class(
          name, grade_id, subject_id, department_id, status
        ) VALUES(
          #{name}, #{gradeId}, #{subjectId}, #{departmentId}, #{status}
        )
    </insert>
    <!--通过班级id获取班级信息-->
    <select id="get" resultType="com.thesis.entity.TeachingClass">
        SELECT * FROM tb_class WHERE id=#{teachingClassId} and status = 0
    </select>
    <!--通过班级id删除班级-->
    <update id="delete">
        update tb_class set status = 1 WHERE id=#{teachingClassId}
    </update>
    <!--更新班级信息-->
    <update id="update" parameterType="com.thesis.entity.TeachingClass">
        UPDATE tb_class SET name=#{name},grade_id=#{gradeId},subject_id=#{subjectId},department_id=#{departmentId} where id=#{id}
    </update>
    <!--分页查询-->
    <select id="pageQuery" resultType="com.thesis.entity.TeachingClass">
        SELECT * FROM tb_class
        <bind name="offset" value="(query.pn-1)*query.ps"></bind>
        <where>
            <if test="teachingClassForm.name != null and teachingClassForm.name != ''">
                AND name LIKE CONCAT ('%',#{teachingClassForm.name},'%')
            </if>
            <if test="teachingClassForm.gradeId != null">
                AND grade_id = #{teachingClassForm.gradeId}
            </if>
            <if test="teachingClassForm.subjectId != null">
                AND subject_id = #{teachingClassForm.subjectId}
            </if>
            <if test="teachingClassForm.departmentId != null">
                AND department_id = #{teachingClassForm.departmentId}
            </if>
            and status = 0
        </where>
        ORDER BY id DESC
        LIMIT #{offset},#{query.ps}
    </select>
    <!--查询满足条件的总数-->
    <select id="pageQueryCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_class
        <bind name="offset" value="(query.pn-1)*query.ps"></bind>
        <where>
            <if test="teachingClassForm.name != null and teachingClassForm.name != ''">
                AND name LIKE CONCAT ('%',#{teachingClassForm.name},'%')
            </if>
            <if test="teachingClassForm.gradeId != null">
                AND grade_id = #{teachingClassForm.gradeId}
            </if>
            <if test="teachingClassForm.subjectId != null">
                AND subject_id = #{teachingClassForm.subjectId}
            </if>
            <if test="teachingClassForm.departmentId != null">
                AND department_id = #{teachingClassForm.departmentId}
            </if>
            and status = 0
        </where>
    </select>
    <!--通过班级名称查询-->
    <select id="getByName" resultType="com.thesis.entity.TeachingClass">
        SELECT * FROM tb_class WHERE name=#{teachingClassName} and status = 0
    </select>

    <select id="getAll" resultType="com.thesis.entity.TeachingClass">
        select * from tb_class where status = 0
    </select>
</mapper>